{% block stylesheets %}
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
{% endblock %}

<title> Log in </title>

<style>
    body {
        background-image:url('https://images.pexels.com/photos/1007025/pexels-photo-1007025.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') ;
        background-size:cover;
        background-position:center;
        background-repeat:no-repeat;
    }
</style>

{% block body %}

    <div style="
            width:500px ; 
            margin:200px auto ; 
            border:1px solid white ; 
            padding:40px ; 
            border-radius:20px ; 
            box-shadow: 0 0 20px black ;
            background-color:white
            "
        >
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <label for="inputEmail" class="mb-3"> Email </label>
            <input type="email" placeholder="Enter your email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-4" autocomplete="email" required autofocus>
            <label for="inputPassword" class="mb-3"> Password </label>
            <input type="password" placeholder="Enter your password" name="password" id="inputPassword" class="form-control mb-4" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >
            
            <div style="display:flex ; justify-content:space-between ; align-items:center">
                <button class="btn btn-primary" type="submit">
                    Sign in
                </button>

                <div>
                    <a href="/register"> don't have account? </a>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
